
{{#if products}}
    <table class="d-flex flex-column">
        <thead>
            <tr class="d-flex justify-content-between">
                <th style="margin-bottom: 20px; width:33.3%">Producto</th>
                <th style="margin-bottom: 20px; width:33.3%">Precio</th>
                <th style="margin-bottom: 20px; width:33.3%">Imagen</th>
            </tr>
        </thead>
        <tbody id="productContainer"> 
            {{#if products}}
                {{#each products}}
                    <tr class="d-flex justify-content-between">
                        <td style="margin-bottom: 20px; width:33.3%">{{this.name}}</td>
                        <td style="margin-bottom: 20px; width:33.3%">${{price}}</td>
                        <td style="margin-bottom: 20px; width:33.3%"><img src={{thumbnail}} alt={{name}} height="150" width="200"></td>
                    </tr>
                {{/each}}
            {{/if}}                              
        </tbody>
    </table>
{{else}}
    <h2>No hay productos en la lista</h2>
{{/if}}